body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url("./Background.jpg");
    background-size: cover;
}

/* Encabezado */
.tituloContainer {
    max-width: 200px;
    width: 150px;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius:10px;
    padding: 10px;
    height:15px;
    background-color: rgb(233, 235, 243);
}

/* Estilo de la caja */
.cajaCentral{
    position: absolute;
    align-items: center;
    flex-flow: column;
    display: flex;
    align-content: center;
    height: 90%;
    width: 100%;
    margin-bottom: 100px;
    
}

/* Estilo para fondo blaco en imagenes Pokemon */
.imgRedondear{
    border-radius: 50%;  
    border-style: solid;
    border-width: thin;
    border-color: #b5b5b5;
    background-color: white
}

/* Estilo de la tabla de stats */
.tablaRedondear{
    border-radius: 25px;
    border: 2px solid #8f8f8f ;
    padding: 10px;
    background-color:white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
tr:hover {
    background-color: rgb(187, 240, 42);}

/* Tamaño de imagen pokemon */
.imgPokemon{
    max-height: 100px;
    max-width: 100px;
}
/* Boton de busqueda */

.btnBuscar{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    margin-top: 20px;
}
 .btnBuscar:hover{
     background-color: rgb(223, 35, 35);
 }

 /* Estilo del input */
 .inputRedondear{
    max-width: 200px;
    width: 150px;
    border: 2px solid lightgrey;
    border-radius:10px;
    padding: 10px;
    height:15px;
    background-color: white;
 }

 /*Boton flotante*/
.btn-flotante {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50%;
    background-color: #f51f2a;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 20PX;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    z-index: 99;
}

.btn-flotante:hover {
    background-color: #000000; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}



